{% extends 'base.html' %}

{% block content %}
          {% for post in posting %}
		<div class="post-item">
                    <div class="post-title">
                         <h2><a href="./blog-details.html">{{ post.judul|title }}</a></h2>
                         <div class="post-date">{{ post.pub_date|timesince }} ago - {{ post.kategori }}</div>
                         </div>
                            
                         <div class="entry">
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <strong>standard dummy</strong> text ever since the 1500s, when an <em>unknown printer</em> took a galley of type and scrambled it to make a type specimen book.</p>
                         <div class="clear"></div>
                         </div>
                      </div>
		{% endfor %}
		<div align="center" class="clearpagination"><span class="pagination"><span class="inner"><a class="page_prev" href="#">&nbsp;</a><a href="#">1</a><a class="page_current" href="#">2</a><a href="#">3</a><a href="#">4</a><a class="page_next" href="#">&nbsp;</a></span></span></div>                        
{% endblock %} 
