{% extends 'base.html' %}

{% block breadcrumbs %}
    <h1>Category <span>{{ kategori.nama }}</span></h1>
    <div class="breadcrumbs"><a href="{% url blog_index %}">Blog</a> {{ kategori.nama }} Category</div>
{% endblock %}

{% block content %}
          {% for post in posting.object_list %}
		<div class="post-item">
                    <div class="post-title">
                         <h2><a href="{% url blog_read post.id %}">{{ post.judul|title }}</a></h2>
                         <div class="post-date">{{ post.pub_date|timesince }} ago - {{ post.kategori }}</div>
                         </div>
                            
                         <div class="entry">
                         <p>{{ post.konten|safe|truncatewords:50 }}</p>
                         <div class="clear"></div>
                         <div class="post-meta">
                            <a href="{% url blog_read post.id %}">Continue reading</a>
                            </div>
                         </div>
                      </div>
		{% endfor %}
		<div align="center" class="clearpagination"><span class="pagination"><span class="inner"><a class="page_prev" href="#">&nbsp;</a><a href="#">1</a><a class="page_current" href="#">2</a><a href="#">3</a><a href="#">4</a><a class="page_next" href="#">&nbsp;</a></span></span></div>                      
{% endblock %} 
