{% extends 'base.html' %}

{% block breadcrumbs %}
    <h1>Reading <span>{{ post.judul|title }}</span></h1>
    <div class="breadcrumbs"><a href="{% url blog_index %}">Blog</a>{{ post.judul }}</div>
{% endblock %}

{% block content %}
		<div class="post-item">
                    <div class="post-title">
                         <h2><a href="{% url blog_read post.id %}">{{ post.judul|title }}</a></h2>
                         <div class="post-date">{{ post.pub_date|timesince }} ago - {{ post.kategori }}</div>
                         </div>
                            
                         <div class="entry">
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <strong>standard dummy</strong> text ever since the 1500s, when an <em>unknown printer</em> took a galley of type and scrambled it to make a type specimen book.</p>
                         <div class="clear"></div>
                         </div>
                      </div>
{% endblock %} 