{% include "header.html" %}
{% load i18n %}
<div class="welcome_bar">
<!-- bar -->	
    <div class="container_12 bar">
        <div class="bar-icon"><img src="/asset/images/icon_blog.png" width="72" height="60" alt="" /></div>
        <div class="bar-title">
            {% block breadcrumbs %}
            {% endblock %}
        </div>
        <div class="bar-right">
        	
            <div id="search-2" class="widget-container widget_search">
                <form method="get" id="searchform" action="">
                    <div>
                        <label class="screen-reader-text" for="s">Search for:</label>
                        <input type="text" name="s" id="s" value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
                        <input type="submit" id="searchsubmit"  value="Search" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
                    </div>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
<!--/ bar -->   
</div>	
    
<!-- middle body -->    
<div class="middle" id="sidebar_right">
	<div class="container_12">    	
    
            <div class="wrapper">
                <div class="content">
                	<div class="text">
                	{% block content %}
                        {% endblock %}
   	            </div>
                </div>
            </div>
            
            <div class="sidebar">
            	<div class="inner">
	            	
                    <!-- widget categories -->
                    <div class="widget-container  widget_categories">
                    	<h3>{%trans 'Categories' %}:</h3>
                        <ul>
			    {% for kategori in kategori_list %}
                            <li><div><a href="{% url kategori_index kategori.id %}">{{ kategori.nama }}</a></div></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget categories -->
                  
                    
                	<div class="divider_thin"></div>
                    
                    
                    
                    </div>
            </div>
                
	<div class="clear"></div>
    </div>	
</div>
<!--/ middle body -->      
{% include 'footer.html'%}
