<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Avagata Distro</title>
	<meta name="Robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="/asset/css/main.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/asset/prettyphoto/css/prettyPhoto.css" media="screen" />
	<script type="text/javascript" src="/asset/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/asset/js/core.js"></script>
	<script type="text/javascript" src="/asset/pngFix/jquery.pngFix.js"></script>
	<script type="text/javascript" src="/asset/prettyphoto/js/jquery.prettyPhoto.js"></script>
	<!--[if IE 6]>
	<style>
		#pitch .infoline {margin-top:-74px;}
		.post-options {margin:-55px 0 40px 138px;}
	</style>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="logo">
			<img src="/asset/web/images/logo.png"/>
		</div>
		
		<div id="content">
		<!-- main menu -->
			<ul class="menu" id="jMenu">
				<li class="current"><a href="/landing">Home</a></li>
				<li><a href="/blog">Blog</a></li>
                <li><a href="/blog">Downloads</a></li>
				<li><a href="#">Features</a>
					<ul>
						<li><a href="#">Designs</a></li>
						<li><a href="#">Code</a></li>
						<li><a href="#">Consulting</a></li>
						<li><a href="#">Help &amp; Support</a></li>
					</ul>
				</li>
                <li><a href="#">Documentation</a>
					<ul>
						<li><a href="#">Installations</a></li>
                        <li><a href="#">Minimum Spesification</a></li>
					</ul>
				</li>
				<li><a href="inner.html">About</a></li>
			</ul>
			
			<!-- search form -->
			
			<div class="x"></div>
			
			<!-- image slider -->
			{% include 'slider.html' %}
			
			<!-- main content -->
			<div id="left">
				<h1><a href="inner.html">So who are we?</a></h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<a href="inner.html" class="read-more">Read more</a>
			</div>
			
			<!-- sidebar -->
			<div id="right">
				<h1>Latest Event</h1>
				
				<h2><a href="#">Big picture</a></h2>
				<p class="post-info">Posted on 12.12.2009. in Category | 12 comments</p>

				<h2><a href="#">Earning more money</a></h2>
				<p class="post-info">Posted on 12.12.2009. in Category | 12 comments</p>

				<h2><a href="#">Global warming in your house</a></h2>
				<p class="post-info">Posted on 12.12.2009. in Category | 12 comments</p>

				<h2><a href="#">Do you believe?</a></h2>
				<p class="post-info">Posted on 12.12.2009. in Category | 12 comments</p>
			</div>
			
			<div class="x"></div>
			<div class="break"></div>
			
			
              {% block feature %}{% endblock %}

		</div>
		
		<!-- footer -->
		<div id="footer">
			<p>Copyright &copy; 2008 - {% now "Y" %} <a href="http://web.o-leafs.com">O'leafs Web Developer</a> &middot; Design: Borut Jegrišnik, <a href="http://www.solucija.com/" title="Free CSS Templates">Solucija</a></p>
		</div>
	</div>
	
	<!-- gallery starter and prettyPhoto starter -->
	<script type="text/javascript">
		jGallery('pitch');
		$(document).pngFix();
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>
</body>
</html>
