   
<div class="footer">
<div class="footer_bg">
	<div class="container_12">
    
    	
        
        
        <div class="col_1_4 col">
          <div class="inner">
            	<h3>This site Powered by</h3>
            	<ul>
		    <li><a target="_blank" href="https://www.djangoproject.com/">Django, Python Web Framework</a></li>
		    <li><a target="_blank" href="http://git-scm.com/">Git, Source Code Management</a></li>
		    <li><a target="_blank" href="http://git-scm.com/">jQuery, Javascript Framework</a></li>
                </ul>
            </div>
        </div>
	<div class="col_1_4 col">
          <div class="inner">
            	<h3>Now Event</h3>
            	<ul>
		    {% for event in now_event %}
		    <li><a target="_blank" href="">{{ event.nama }}</a></li>
		    {% endfor %}
                </ul>
            </div>
        </div>
	<div class="col_1_4 col">
          <div class="inner">
            	<h3>Up Coming Event</h3>
            	<ul>
		    {% for event in up_coming_event %}
		    <li><a target="_blank" href="">{{ event.nama }}</a></li>
		    {% endfor %}
                </ul>
            </div>
        </div>
      <div class="divider_space"></div>
    	
        <div class="col_2_3 col">
	        <div class="inner">
            	<a href="https://twitter.com/avagatadistro" class="link-twitter" title="Twitter">Twitter</a>
                <a href="#" class="link-fb" title="Facebook">Facebook</a>
         </div>
        </div>
        
        <div class="col_1_3 col">
          <div class="inner">
            	<p class="copyright">&copy; 2012 Avagata Web Developer Team</p>
          </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>
</body>
</html>
