<div id="pitch">
				<div class="pitch-gallery">
					<div class="pitch-gallery-holder" id="gallery-pitch-holder">
						<div class="pitch-gallery-div">
							<img src="/asset/images/pitch-1.jpg" alt="Pitch 1" />
							<div class="infoline">Hello! We are professional team of designers and we would like to share our passion with you!</div>
						</div>
						<div class="pitch-gallery-div">
							<img src="/asset/images/pitch-2.jpg" alt="Pitch 2" />
							<div class="infoline">This is <strong>DesignHQ</strong> theme suited for business site or portfolio.</div>
						</div>
						<div class="pitch-gallery-div">
							<img src="/asset/images/pitch-3.jpg" alt="Pitch 3" />
							<div class="infoline">Just works everywhere! This theme works fine under all major browsers.</div>
						</div>
						<div class="pitch-gallery-div">
							<img src="/asset/images/pitch-4.jpg" alt="Pitch 4" />
							<div class="infoline">This is jQuery improved theme with custom drop down menu and ajax powered contact form.</div>
						</div>
					</div>
				</div>
			</div>
