{% include "header.html" %}
{% load features %}
{% load i18n %}


<div class="welcome_bar">
<!-- bar -->	
<div class="container_12 bar">
        <div class="bar-title">
            <h1>{% trans "Welcome to" %} <span>{% trans 'Avagata Edusystem' %}</span></h1>
            <div class="sub-text">Simple yet Powerful</div>
        </div>
    </div>
<!--/ bar -->   
</div>

<!-- middle body --> 
<div class="middle homepage">
	<div class="container_12">
    {% for feature in feature_list %}
       {% if forloop.counter0|divisibleby:"3" %}
	   </div>
           <div class="divider_space"></div>
	   <div class="container_12">
       {% endif %}
    <div class="col col_1_3">
    	<div class="inner">
	  <h2>{{ feature.judul|title }}</h2>
	     <p>{{ feature.konten|safe|truncatewords:15 }}</p>
        <a href="#" class="link-more">{% trans 'more details' %}</a>
	</div>
     </div>
    {% endfor %}
    <div class="divider_space"></div>
    
    <div class="box box_white">
    
        <div class="col col_2_3">
        <div class="inner">
            <div class="quoteBox-big">
            	<div class="quote-title"><strong>{% trans 'WHAT OTHERS SAY ABOUT US' %}:</strong></div>
            	<div class="quote-text">{{ testimoni.konten }}</div>
            	<div class="quote-author"><span class="violet">{{ testimoni.pengirim}} , </span>{% trans 'from' %} {{ testimoni.perusahaan}}</div>    
			</div>
        </div>
        </div>
        
<div class="col col_1_3">
        	<div class="inner">
            	
                <!-- newsletter -->
                <div class="newsletterBox">
                	<div class="bg">
                        <div class="ribbon"></div>
                        <h2>{% trans 'Stay in touch with us'%}!</h2>
                        <div class="before-text">{% trans 'Sign up for our weekly newsletter to receive updates, news, and interesting tidbits'%}.</div>
                        <form action="" method="post">
                            <input type="text" value="" name="" class="inputField" />
                            <input type="submit" value="" name="" class="btn-submit" />
                            <div class="clear"></div>
                        </form>
                	</div>
                </div>
                <!--/ newsletter -->
            </div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="divider_space"></div>
    
    
    <div class="clear"></div>
	</div>	
</div>
<!--/ middle body -->   
 {% include 'footer.html' %}
