{% extends 'base.html' %}

{% block feature %}
<div id="feature">
  <h1>Powered By</h1>
				<div class="small-post">
					<img src="/asset/images/django-logo-positive.png" alt="Clean and Simple" />
					<h1><a href="#">Python Web Framework</a></h1>
					<p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
                    </p>
				</div>
							
				<div class="small-post">
					<img src="/asset/images/newtech.jpg" alt="jQuery Powered" />
					<h1><a href="#">jQuery Powered</a></h1>
					<p>This web site uses jQuery to enhance usability and visual performance:</p>
				</div>

				<div class="small-post last">
					<img src="/asset/images/contact.jpg" alt="Contuct Us" />
					<h1><a href="contact.html">Contact Us</a></h1>
					<p>Contact form is ready to use. It works with ajax and simple PHP script that sends user submited data directly to your email. Contact form is build with Javascript math captcha to protect you from spam.</p>
				</div>
				<div class="x"></div>
</div>
{% endblock %}
