{% include "header.html" %}

<!--<script src="/asset/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script type="text/javascript">
$(window).load(function() {
	$('#imageSlider').nivoSlider({ 
			effect:'random',
			animSpeed:300,
			pauseTime:5000, 
			pauseOnHover:true,
			directionNavHide:false 
	});
	
});	
</script>     
    <div class="container_12">
        <div class="slider">
        	
            <div class="sImages">
                <div class="sliderBody" id="imageSlider">
                	<a href="#"><img src="/asset/images/temp/slider_img_5.jpg" alt="" class="slider-img" /></a>
                    
                    <img src="/asset/images/temp/slider_img_2.jpg" alt="" class="slider-image" />
                    <a href="#"><img src="/asset/images/temp/slider_img_3.jpg" alt="" class="slider-img" /></a>
                    <a href="#"><img src="/asset/images/temp/slider_img_1.jpg" alt="" class="slider-img" /></a>
                    <img src="/asset/images/temp/slider_img_2.jpg" alt="" class="slider-image" />                </div>
            </div>
        </div>
    </div>
 
</div>-->

<div class="welcome_bar">
<!-- bar -->	
<div class="container_12 bar">
        <div class="bar-title">
            <h1>Welcome to <span>Avagata Distro</span></h1>
            <div class="sub-text">Simple yet Powerful</div>
        </div>
        <div class="bar-right">
        	<a href="" class="button_link large_button"><span>Take a Tour</span></a></div>
        <div class="clear"></div>
    </div>
<!--/ bar -->   
</div>

<!-- middle body --> 
<div class="middle homepage">
	<div class="container_12">
    
    <div class="col col_1_3">
    	<div class="inner">
   	  	<h2>Support Low Spec Computer</h2>
        <p><img src="/asset/images/temp_img_1.png" alt="" width="93" height="76" class="alignright" />Avagata Can run on low spec computer </p>
        <a href="#" class="link-more">more details</a>        </div>
	</div>
    
<div class="col col_1_3">
    	<div class="inner">
   	  	<h2>Support Education</h2>
        <p><img src="/asset/images/temp_img_2.png" alt="" width="93" height="76" class="alignright" /> </p>
        <a href="#" class="link-more">more details</a>        </div>
    </div>
<div class="col col_1_3">
    	<div class="inner">
   	  	<h2>Great support in just 24 hours</h2>
        <p> <img src="/asset/images/temp_img_3.png" width="80" height="76" class="alignright" alt="" /></p>
		<a href="#" class="link-more">more details</a>        </div>
    </div>
    <div class="divider_space"></div>
    
    <div class="box box_white">
    
        <div class="col col_2_3">
        <div class="inner">
            <div class="quoteBox-big">
            	<div class="quote-title"><strong>WHAT OTHERS SAY ABOUT US:</strong></div>
            	<div class="quote-text">{{ testimoni.konten }}</div>
            	<div class="quote-author"><span class="violet">{{ testimoni.pengirim}} , </span>from {{ testimoni.perusahaan}}</div>    
			</div>
        </div>
        </div>
        
<div class="col col_1_3">
        	<div class="inner">
            	
                <!-- newsletter -->
                <div class="newsletterBox">
                	<div class="bg">
                        <div class="ribbon"></div>
                        <h2>Stay in touch with us!</h2>
                        <div class="before-text">Sign up for our weekly newsletter to receive updates, news, and interesting tidbits.</div>
                        <form action="" method="post">
                            <input type="text" value="" name="" class="inputField" />
                            <input type="submit" value="" name="" class="btn-submit" />
                            <div class="clear"></div>
                        </form>
                	</div>
                </div>
                <!--/ newsletter -->
            </div>
        </div>
    <div class="clear"></div>
    </div>
    <div class="divider_space"></div>
    
    
    <div class="clear"></div>
	</div>	
</div>
<!--/ middle body -->   
 {% include 'footer.html' %}