{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    <h1>{% trans "Avagata's Feature" %} <span>{{ halaman.judul }}</span></h1>
{% endblock %}

{% block content %}
		<div class="post-item">
                    <div class="post-title">
                         <h2><a href=""></a></h2>
                         <div class="post-date"> {{ halaman.tgl_edit|timesince }} yang lalu </div>
                         </div>
                            
                         <div class="entry">
                         {{ halaman.konten|safe }}
                         <div class="clear"></div>
                         </div>
                      </div>
{% endblock %} 
